<p>
  <strong>Nombre:</strong>
  <%= task.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= task.description %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= task.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= task.due_date %>
</p>
